*.egg-info
*.pyc
*.so
venv
.venv*
.env
.coverage*
.direnv
.envrc
.hypothesis
.mypy_cache
.pytest_cache
MANIFEST
__pycache__
./build
dist

*.prof

bin
bin.bak
.buildozer

.buildozer.bak

temp

src/app/**/*.c
**/*.ini
**/*.lat

